@using Microsoft.AspNetCore.Http.HttpResults;
@inject ISongDatabase db;
@inject IUserTracker tracker;
@* @inject HttpClient http; *@
<a class="fa-star @starStyle" @onclick="ToggleStar"></a>

@code {
	[Parameter, EditorRequired]
	public bool IsStarred{ get; set; }

	[Parameter, EditorRequired]
	public required string Slug{ get; set; }

	public const string NORMAL  = "fa-thin";
	public const string STARRED = "fa-solid";

	private string starStyle => IsStarred ? STARRED : NORMAL;

	private async Task ToggleStar() {
		// var response = await http.PostAsJsonAsync($"/star/{Slug}", IsStarred);
		var response = await SongEndpoints.ToggleSongStar(Slug, db, tracker);
		if (response is Ok<bool> isStarred) {
			IsStarred = isStarred.Value;
		}
	}
}
